<mat-toolbar color="primary" style="justify-content: center ;" >
    Pokédex App 
</mat-toolbar>
<div class = "container-1">
  <mat-form-field class="search-pokemon-field" appearance="fill">
    <mat-label>Search Pokemon...</mat-label>
    <input matInput type="text" [(ngModel)] = "searchValue" (ngModelChange)="filterPokemon()" >
    <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearOnClick()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

    <app-pokemon-info [renderList] = displayList ></app-pokemon-info>
  

