.container-1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-pokemon-field{
    width: 50%;
    max-width: 600px;
    
}


/* mat-grid-tile {
    background: lightblue; *
    padding: 5px 5px 5px 5px ; 
   
  } */
  
  .card-text-container{
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .mat-card{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .example-card {
    max-width: 400px;
    /* min-width: 400px; */
    /* max-height: ; */
  
}
.mat-dialog-container{
  padding : 0px;
}

.mat-dialog-container {
  padding: 0px;
}