<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile *ngFor="let data of renderList">
        <mat-card class="example-card"  matRipple 
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false" 
        (click) = "openDetails($event,data)"
        >
        <!-- <img mat-card-image src={{data.thumbnail}} > -->

        <mat-card-content>
            <img  src={{data.thumbnail}} style=" max-width: 100%; max-height: 100%; display: block;">          
          <mat-divider></mat-divider>
          <div class = "card-text-container">
            <mat-card-subtitle>{{data.name}}</mat-card-subtitle>
            <mat-card-subtitle>#{{data.id}}</mat-card-subtitle>
          </div>
        </mat-card-content>
        </mat-card>
        
      </mat-grid-tile>
</mat-grid-list>